<template>
	<div class="door_1">
		<Puzzle_1 />
	</div>
</template>

<script>
// @ is an alias to /src
import Puzzle_1 from '@/components/Puzzle_1.vue'

export default {
	name: 'door_1',
	components: {
		Puzzle_1
	}
}
</script>
