<template>
	<div class="container">
		<transition-group name="cell" tag="div" class="row mt-5 custom-width">
			<div v-for="cell in cells" :key="cell.id" class="cell">
				{{ cell.number }}
			</div>
		</transition-group>
	</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
	name: 'Puzzle_1',
	props: {},
	data() {
		return{
			cells: Array.apply(null, Array(666))
				.map((_, index) => { 
					return {
						id: index,
						number: index % 9 + 1
					}
				})
		}
	},
	computed: {

	},
	created() {
		setInterval(() => {
			this.shuffle()
		}, 6000);
	},
	methods: {
		shuffle: function () {
			this.cells = _.shuffle(this.cells)
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.custom-width {
	width: 600px;
}
.cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #fff;
  margin-right: -1px;
  margin-bottom: -1px;
}
.cell:nth-child(3n) {
  margin-right: 0;
}
.cell:nth-child(27n) {
  margin-bottom: 0;
}
.cell-move {
  transition: transform 1s;
}

</style>
