<template>
	<div id="app">
		<nav id="nav" class="navbar" v-if="false">
			<router-link class="nav-item" to="/">I</router-link> |
			<router-link class="nav-item" to="/door_2">II</router-link>
		</nav>
		<router-view/>
	</div>
</template>

<style lang="scss">
body {
	background-color: #000!important;
}
#nav {
	padding: 30px;
	a {
		font-weight: bold;
		color: #fff;
		&.router-link-exact-active {
			color: #fff;
			text-decoration: underline;
		}
	}
}
</style>
